<%- include ('../../partials/header.ejs'); %>
<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
    <%- include('../../partials/sidebar.ejs', {section: 'mixerInputs'}); %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
          <%- include('../../partials/topbar.ejs', {user: user}); %>

        <!-- Begin Page Content TODO-->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800"></i>BORRAR ENTRADA A MEZCLADORA</h1>
          </div>
          
          <% var messages = getMessages() %>
          <% if (messages.error) { %>
            <div class="alert alert-danger col-sm-12"><%= messages.error %></div>
          <% } %>
          <% if (messages.success) { %>
            <div class="alert alert-success col-sm-12"><%= messages.success %></div>
          <% } %>
          
          <form action="/configuration/mixer_inputs/delete/" method="post" id="deleteMixerInputForm">
            <div class="form-group row">
              <label for=""mixerInputDescription class="col-sm-2 col-form-label">Descripción de la Entrada a Mezcladora</label>
              
              <div class="col-md-4">
                  <select class="custom-select my-1 mr-sm-2" id="mixerInputDescription" name="mixerInputDescription" required>
                      <option selected>Seleccione Entrada a Mezcladora</option>
                      <% mixerInputs.forEach((DB_Entradas) => { %>
                      <option value="<%= DB_Entradas.EntradaID %>"><%= DB_Entradas.Descripcion %></option>
                      <% }) %>
                    </select>
              </div>
            </div>
            
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                  <a href="#" class="btn btn-lg btn-danger mb-2 btn-block" data-toggle="modal" data-target="#deleteMixerInputModal">
                    <span class="text">Borrar Entrada</span>
                  </a>
                </div>
              </div>
            </form>
  
            </div>
            <!-- /.container-fluid -->
    
          </div>
          <!-- End of Main Content -->
    
  
    <%- include ('../../partials/footer.ejs'); %>
    
  </body>
    
  </html>