<%- include ('../../partials/header.ejs'); %>
  <body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
      <%- include('../../partials/sidebar.ejs', {section: 'cameras' }); %>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

          <!-- Main Content -->
          <div id="content">
            <%- include('../../partials/topbar.ejs', {user: user}); %>

              <!-- Begin Page Content TODO-->
              <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                  <h1 class="h3 mb-0 text-gray-800"></i>MODIFICAR CÁMARA</h1>
                </div>

                <% var messages=getMessages() %>
                  <% if (messages.error) { %>
                    <div class="alert alert-danger col-sm-12">
                      <%= messages.error %>
                    </div>
                    <% } %>
                      <% if (messages.success) { %>
                        <div class="alert alert-success col-sm-12">
                          <%= messages.success %>
                        </div>
                        <% } %>

                          <form
                            action="/configuration/cameras/update<%= (cameras.length == 1) ? '/' + 'Camaras.CamaraID' : '' %>"
                            method="post">

                            <div class="form-group row">
                              <label for="cameraID" class="col-sm-2 col-form-label">Descripción Actual</label>
                              <div class="col-md-4">
                                <select class="custom-select my-1 mr-sm-2" id="cameraID" required
                                  name="cameraID">
                                  <% (cameras.length > 1) ? '<option selected>Seleccione Cámara</option>' : '' %>
                                    <% cameras.forEach((DB_Camaras)=> { %>
                                      <option value="<%= DB_Camaras.CamaraID %>">
                                        <%= DB_Camaras.Descripcion %>
                                      </option>
                                      <% }) %>
                                </select>
                              </div>
                            </div>

                            <div class="form-group row">
                              <label for="cameraDescription" class="col-sm-2 col-form-label">Nueva Descripcion de la Cámara</label>
                              <div class="col-md-4">
                                <input type="text" class="form-control" id="cameraDescription"
                                  placeholder="Ej. Segunda Parte" required name="cameraDescription"
                                  value="<%= messages.cameraDescription %>">
                              </div>
                            </div>

                            <div class="form-group row">
                              <div class="col-md-2"></div>
                              <div class="col-md-4">
                                <button type="submit" class="btn btn-lg btn-primary mb-2 btn-block">Modificar Cámara</button>
                              </div>
                            </div>
                          </form>

              </div>
              <!-- /.container-fluid -->

          </div>
          <!-- End of Main Content -->


          <%- include ('../../partials/footer.ejs'); %>

  </body>

  </html>